# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
.env

# Node
node_modules/
dist/

# IDE
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Docker
.docker/

# AWS
.aws-sam/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars

# Logs
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/

# Build artifacts
build/
*.egg-info/
